Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  -performance-enum-size,
  portability-*,
  -portability-avoid-pragma-once,
  modernize-use-nullptr,
  modernize-use-override
WarningsAsErrors: '*'
HeaderFilterRegex: '^.*/(src|tests|tools)/'
ExcludeHeaderFilterRegex: '^.*/(out|cmake-build-[^/]*|_deps|[^/]*_autogen)/'
FormatStyle: file
SystemHeaders: false
