---
BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
ColumnLimit: 80
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false

BreakConstructorInitializers: BeforeComma
BreakBeforeBinaryOperators: NonAssignment
PackConstructorInitializers: Never
BinPackArguments: false
BinPackParameters: false

DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Pointer

IncludeBlocks: Regroup
SortIncludes: CaseSensitive
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<(Q|Qt)'
    Priority: 2
  - Regex: '^<spdlog/'
    Priority: 3
  - Regex: '^<'
    Priority: 4
FixNamespaceComments: false
NamespaceIndentation: None
...
